*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: #001;
    display: flex;
}
.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}
.img-box img{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 8px;
    transition: 0.5s;
}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}
.profile::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to bottom right, #7616decf 50%, #18a4e5cf);
    border-radius: 8px;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
}
.profile:hover::before{
    opacity: 1;
}
.profile:hover{
    transform: scale(1.12);
}
.menu{
    background-color: #123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
}
.menu:hover{
    width: 290px;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.5s;
}
ul li a:hover{
    background-color: #ffffff55;
    transform: scale(1.14);
}
.active{
    background-color: #ffffff55;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a {
    background-color: #a00;
}
.log-out a:hover{
    background-color: red;
}
ul li a i{
    font-size: 30px;
}
.content{
    width: 100%;
    margin: 10px;
}
.title-info{
    background-color: #0481ff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.data-info .box{
    background-color: #123;
    width: 100%;
    height: 150px;
    flex-basis: 150px;
    padding: 10px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .5s;
}
.data-info .box:hover{
    background-color: #ffffff55;
    transform: scale(1.1);
}
.data-info .box i{
    font-size: 40px;
}
.data-info .box .data{
    text-align: center;
}
.data-info .box span{
    font-size: 30px;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;
    border-radius: 8px;
}
td,th{
    background-color: #123;
    height: 40px;
    border-radius: 8px;
    transition: .5s;
}
th{
    background-color: #0080ff;
}
td:hover{
    background-color: #ffffff55;
}
.price , .count{
    padding: 6px;
    border-radius: 6px;
}
.price{
    background-color: green;
}
.count{
    background-color: gold;
    color: black;
}
@media (max-width:800px) {
    body .active{
        width: 100%;

    }
    .profile{
        gap: 10px;
    }
    .profile h2{
        font-size: 15px;
    }
    .profile::before{
        width: 160px;
    }
}